@import 'nib'

beige = #EAE6C8
blue = #0C99C5
red = #C34646

*
  &, &:before, &:after
    box-sizing: border-box

body
  background-image: url('../noise.png'), linear-gradient(top, #062026, #000000)
  font-size: 16px
  font-family: anonymous-pro
  color: beige
  margin: 0
  line-height: 1.25
  padding: 0
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility

.hero
  background: url('../planet.png') no-repeat top center
  font-family: 'futura-pt'
  font-weight: 700
  color: #062026
  text-transform: uppercase
  font-size: 4em
  text-align: center
  margin-bottom: 0
  padding: .25em 0 .75em
  text-shadow: 8px 8px 0 rgba(0,0,0,.2)
  // text-shadow: 2px 2px 0 blue, 4px 4px red
.hero--alt
  color: blue
.hero--alt-2
  color: red

.hero__sub
  color: beige
  font-family: 'futura-pt'
  font-weight: 700
  text-transform: uppercase
  text-align: center
  font-size: 1em
  margin-bottom: 2em

.more
  font-family: 'futura-pt'
  text-align: center
  text-transform: uppercase
  height: 187px
  background: url('../flag@2x.png') no-repeat top center
  line-height: 4em
  margin-bottom: -4em
  text-shadow: 4px 4px 0 rgba(0,0,0,.9)

.voting
  overflow: hidden
  max-width: 40em
  margin: 0 auto
  position: relative
  .card__score
    display: none
  .vs
    position: absolute
    left: 50%
    width: 5em
    margin-left: -2.5em
    top: 50%
    margin-top: -2.5em
    text-align: center
    font-size: 2em
  .card:last-child
    float: right
    margin: 0 0 1em 1em

.cards
  button
    display: none

.card
  background: beige
  color: black
  width: 16em
  margin: 0 1em 1em 0
  float: left

.card__image
  position: relative
  padding-top: 75%
  position: relative
  overflow: hidden
  img
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

.card__body
  padding: 8px
  color: #504533
  font-size: .8125em
  overflow: hidden

.card__title
  font-family: 'futura-pt'
  text-transform: uppercase
  font-weight: 700
  color: #071011
  padding: 8px
  margin: 0
  font-size: 1em
  .card__score
    color: rgba(#504533, .5)

figure
  margin: 0
  padding: 0

img
  max-width: 100%
  width: 100%
  height: auto

.btn
  font-size: 1em
  font-weight: 700
  cursor: pointer
  border-radius: .25em
  margin: 8px -8px 8px 8px
  padding: .75em 1.5em
  display: inline-block
  font-family: 'futura-pt'
  border: 0
  text-transform: uppercase
  position: relative


.btn--primary
  background: blue
  text-shadow: 0px 2px 0px darken(blue, 35%)
  border-bottom: 3px solid darken(blue, 35%)
  color: beige

// .btn__prepend
//   position: absolute
//   top: 0
//   left: 0
//   padding: .75em 1.5em
//   margin-right: 1em
//   background: darken(blue, 40%)

.btn--full
  // width: 100%
  width: 15em

#search
  text-align: center
  display: block
  margin: 0 auto
  font-size: 1em
